{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <table>
        <thead>
          <tr><th colspan="6">List of ingredients in stock</th></tr>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Price</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>
        <tbody>
        {% for Ingredient in object_list %}
        <th scope="row">{{ Ingredient.name }}</th>
            <td> {{ Ingredient.quantity }}</td>
            <td> {{ Ingredient.unit }}</td>
            <td> ${{ Ingredient.unit_price}}</td>
            <td>
                <a href="{% url 'ingredient_update' Ingredient.id %}">Update</a>
            </td>
            <td>
                <a href="{% url 'ingredient_delete' Ingredient.id %}">Delete</a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="4">No ingredients yet.</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
          <td colspan="6"><a href="{% url 'ingredient_create' %}">Add a new Ingredient</a></td>
        </tr>
      </tfoot>
    </table>
</div>

{% endblock %}
